@import "../../var.scss";
.game-item {
  text-decoration: none;
  color: white;
  width: 330px;
  height: 320px;
  background-color: rgb(36, 37, 41);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 50px;
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
  &__genre {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  &__details {
    padding: 10px 20px;
  }
  &__description {
    margin-top: 10px;
    font-size: $default;
  }
  &__buy {
    position: absolute;
    right: 5px;
    bottom: 3px;
  }
}
