
.order-page {
    display: flex;
    justify-content: space-between;
    &__left {
        width: 70%;
    }
    
    &__right {
        width: 27%;
        font-size: 18px;
        font-weight: bold;
    }
    &__footer {
        margin-bottom: 50px;
    }
}
