.footer {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  &__wrapper {
    display: flex;
    width: 150px;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
}
